#container {
  width: 435px;
  padding: 25px;
}

form {
  margin: 0;
}

label, legend {
    font-size: 14px;
    margin-bottom: 0;
}

input::placeholder {
  font-size: 14px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

#capacityResult:empty {
  display: none;
}

#capacityResult {
  font-size: 20px;
  font-weight: bold;
}